.contact_container{
   grid-template-columns: repeat(2,max-content);
   justify-content: center; 
   column-gap: 6rem;
   padding-bottom: 3rem;
}

.contact_title{
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.contact_info{
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 300px;
}

.contact_card{
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    padding: 1rem;
    text-align: center;
}
.contact_card-icon{
    font-size: 2rem;
    color:#111;
    margin-bottom: 0.25rem;
}
.contact_card-title,
.contact_card-data{
    font-size: 0.875rem;
}
.contact_card-title{
    font-weight: 500;
}
.contact_card-data{
    display: block;
    margin-bottom: 0.75rem;
}
.contact_button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.25rem;
    color: green;
    font-size: 0.875rem;
}
.contact_button-icon{
    font-size: 1rem;
    transition: 0.3s;
}
.contact_button:hover .contact_button-icon{
    transform: translate(0.25rem);
}
.contact_form{
    width: 360px;
}
.contact_form-div{
    position: relative;
    margin-bottom: 2rem;
    height: 4rem;
}
.contact_form-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #111;
    background: none;
    color: #111;
    outline: none;
    border-radius: 0.75rem;
    padding: 1.5rem;
    z-index: 1;
}
.contact_form-tag{
    position: absolute;
    top: -0.75rem;
    left: 1.25em;
    font-size: 0.813rem;
    padding: 0.25rem;
    background-color: hsl(0,0%,98%);
    z-index: 10;
}
.contact_form-area{
    height: 11rem;
}
.contact_form-area textarea{
    resize: none;
}



@media screen and (max-width: 992px) {
  .contact_container{
    column-gap: 3rem;
  }
}
@media screen and (max-width: 768px) {
 .contact_container{
    grid-template-columns: 1fr;
    row-gap: 3rem;
 } 

 .contact_info{
    justify-content: center;
 }

 .contact_form{
    margin: 0 auto;
 }
}
@media screen and (max-width: 576px) {
  .contact_info{
    grid-template-columns: 1fr;
  }
  .contact_form{
    width: 100%;
  }
}
@media screen and (max-width: 350px) {
  
}
